<p *ngIf="!volumes"><em>Loading...</em></p>
<div class="">
  <table class='table table-hover mb-0' *ngIf="volumes">
    <thead class="">
      <tr>
        <th>NAME</th>
        <th class="cw-s">DRIVER</th>
        <th>MOUNT POINT</th>
        <th class="cw-m">CREATED</th>
      </tr>
    </thead>
    <tbody [fluidHeight] 
           [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeightBottomPadding]="1">
      <tr *ngFor="let volume of volumes">
        <td class="text-truncate">{{ volume.name }}</td>
        <td class="text-truncate cw-s">{{ volume.driver }}</td>
        <td class="text-truncate">{{ volume.mountpoint }} </td>
        <td class="text-truncate cw-m">{{ volume.createdAt | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>
</div>
