:host {
  .subtitle {
    position: relative;
    margin-left: 2.6rem;
    top: -0.8rem;
  }

  .title-icon {
    font-size: 28px;
  }

  .title-caption {
    display: flex;
    align-items: center;
  }
}
