:host {
  .ssc-circle-loader {
    width: 24px;
    height: 24px;
  }

  .ssc-head-line {
    width: unset;
  }

  .ssc-square {
    border-radius: 6px;
  }

  tr {
    border-bottom-width: 0px;
  }
}