/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "./css/tables";
@import "./css/colors";
@import "./css/layout";
@import "./css/scrollbar";
@import "./css/modal";
@import "./css/toolbar";
@import "./css/imline-progress";
@import "./css/loader";
@import "./css/nav";

// required to get color variables
@import "../node_modules/bootstrap/scss/functions"; 
@import "../node_modules/bootstrap/scss/variables"; 

$primary:                    #1b1b1b;
$light:                       $gray-200 !default;
$border-radius:               .25rem !default;
$card-border-radius:          1.0rem !default;
$font-size-root:              14px;
$btn-disabled-opacity:        0.35;

// change
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// import external libs
$skeleton-element-color: #dee2e6;
$skeleton-line-border-radius: 5px;

/* Then import scss source file */
@import "skeleton-screen-css/dist/index.scss";


.btn-primary:hover {
  background: $primary-hover;
}

.mt-5 {
  margin-top: 3rem;
}