/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "./tables";

// required to get $orange variable
@import "../node_modules/bootstrap/scss/functions"; 
@import "../node_modules/bootstrap/scss/variables"; 

@import "../node_modules/bootstrap/scss/mixins/buttons"; 
@import "../node_modules/bootstrap/scss/mixins/gradients"; 

$primary:     $gray-900; // set the $primary variable
$secondary:   $gray-600 !default;
//$success:   $green !default;
//$info:      $cyan !default;
//$warning:   $yellow !default;
//$danger:    $red !default;
$light:       $gray-100 !default;
$dark:        $gray-900 !default;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// @each $color, $value in $theme-colors {
//   .btn-#{$color} {
//     @include button-variant($value, $value,
//     // modify
//     $hover-background: lighten($value, 7.5%),
//     $hover-border: lighten($value, 10%),
//     $active-background: lighten($value, 10%),
//     $active-border: lighten($value, 12.5%)
//     // /modify
//     );
//   }
// }

// set changes
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary:hover {
  background: $gray-700;
}
/* Provide sufficient contrast against white background */
// a {
//   color: #0366d6;
//   text-decoration: none;
// }

// code {
//   color: #e01a76;
// }

// .btn-primary {
//   color: #fff;
//   background-color: #1b6ec2;
//   border-color: #1861ac;
// }

.mt-5 {
  margin-top: 3rem;
}