<div class="d-flex flex-column pt-3 bg-light vh-100 side-nav"
     *ngIf="isVisible | async">
  <a href="/" class="d-flex align-items-center link-dark text-decoration-none ms-3 brand">
    <i class="bi-box-seam-fill fs-4 brand-color"></i>
    <span class="fs-4 ms-2 d-none d-xl-block">Dockland</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" >
      <a [routerLink]="['/']" 
         [routerLinkActive]="['active', 'text-white']" 
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link text-dark">
        <div class="d-flex">
          <i class="bi-hdd"></i>
          <span class="ms-2 d-none d-xl-block">Environments</span>
        </div> 
      </a>
    </li>
    <ng-container *ngIf="isOpened | async">
      <li class="nav-item" >
        <a class="nav-link text-dark" 
           [routerLink]="['/dashboard']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }"
           data-bs-toggle="tooltip" 
           data-bs-placement="right" 
           data-bs-title="Tooltip on right">
          <div class="d-flex">
            <i class="bi-kanban" style="margin-right: 0.8rem;"></i>
            <span class="d-none d-xl-block">{{environment}}</span>
            <div class="m-auto d-none d-xl-block"></div>
            <button type="button" class="btn btn-close-env d-none d-xl-block" aria-label="Close environment">
              <span class="bi-x-lg dt" [routerLinkActive]="['text-white']" (click)="disconnect()"></span>
            </button>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/containers']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="d-flex">
            <i class="bi bi-box"></i>
            <span class="ms-2 d-none d-xl-block">Containers</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/images']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="d-flex">
            <i class="bi bi-collection"></i>
            <span class="ms-2 d-none d-xl-block">Images</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/stacks']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="d-flex">
            <i class="bi bi-layers"></i>
            <span class="ms-2 d-none d-xl-block">Stacks</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/volumes']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="d-flex">
            <i class="bi bi-database"></i>
            <span class="ms-2 d-none d-xl-block">Volumes</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/networks']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="d-flex">
            <i class="bi bi-hdd-network"></i>
            <span class="ms-2 d-none d-xl-block">Networks</span>
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
  <hr>
  <div class="p-3 pt-0">
    <span class="d-none d-xl-block">Version: 1.0.0</span>
  </div>
</div>