<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100"
     *ngIf="isVisible | async">
  <a href="/" class="d-flex align-items-center link-dark text-decoration-none ms-3">
    <i class="bi-box-seam-fill me-2 fs-4 brand-color"></i>
    <span class="fs-4">Dockland</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" >
      <a [routerLink]="['/']" 
         [routerLinkActive]="['active', 'text-white']" 
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link text-dark">
        <i class="bi-hdd me-2"></i>
        Environments
      </a>
    </li>
    <ng-container *ngIf="isOpened | async">
      <li class="nav-item" >
        <a class="nav-link text-dark" 
           [routerLink]="['/dashboard']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
           <div class="d-flex">
          <i class="bi-kanban me-2"></i>
            {{environment}}
            <div class="m-auto"></div>
            <button type="button" class="btn btn-close-env" aria-label="Close environment">
              <span class="bi-x-lg dt" [routerLinkActive]="['text-white']" (click)="disconnect()"></span>
            </button>
          </div>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/containers']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-box me-2"></i>
          Containers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/images']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-collection me-2"></i>
          Images
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/stacks']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-layers me-2"></i>
          Stacks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/volumes']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-database me-2"></i>
          Volumes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" 
           [routerLink]="['/networks']"
           [routerLinkActive]="['active', 'text-white']" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-hdd-network me-2"></i>
          Networks
        </a>
      </li>
    </ng-container>
  </ul>
  <hr>
  <div>
    <span>Version: 1.0.0</span>
  </div>
</div>