<div>
  <table class='table table-hover mb-0'>
    <thead class="">
      <tr>
        <th class="cw-check">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="checkAll($event)"
                 [checked]="allChecked"
                 [indeterminate]="indeterminate">
        </th>
        <th>NAME</th>
        <th class="cw-xs">TAG</th>
        <th>ID</th>
        <th class="cw-sm">CREATED</th>
        <th class="cw-s">SIZE</th>
      </tr>
    </thead>
    <ng-container *ngTemplateOutlet="loader"></ng-container>
    <tbody [fluidHeight] 
           [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeightBottomPadding]="1"
           *ngIf="items">
      <tr *ngFor="let imageModel of items">
        <td class="cw-check">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="check(imageModel, $event)" 
                 [disabled]="isDisabled(imageModel)"
                 [checked]="imageModel.checked">
        </td>
        <td class="d-flex justify-content-between"
            [ngClass]="[imageModel.inProgress ? 'progress-parent' : '']">
          <span class="text-truncate">{{ imageModel.name }}</span>
          <progressbar *ngIf="imageModel.inProgress" class="progress-striped active progress-child" [value]="100" [max]="100" [type]="processType"></progressbar>
          <span *ngIf="imageModel.error" 
                class="bi bi-exclamation-circle text-danger" 
                [ngbTooltip] ="imageModel.error">
          </span>
        </td>
        <td class="text-truncate cw-xs"> <span class="badge bg-secondary">{{ imageModel.tag }}</span></td>
        <td class="text-truncate">{{ imageModel.image.id }}</td>
        <td class="text-truncate cw-sm">{{ imageModel.image.created | date:'medium' }}</td>
        <td class="text-truncate cw-s">{{ imageModel.image.size | formatFileSize: false }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loader>
  <tbody *ngIf="!items" class="loader">
    <tr *ngFor="let number of [0,1,2,3,4,5,6,7,8,9] | loaderCount">
      <td class="cw-check"><div class="ssc-circle ssc-circle-loader"></div></td>
      <td><div class="ssc-head-line"></div></td>
      <td class="cw-xs"><div class="ssc-head-line"></div></td>
      <td><div class="ssc-head-line"></div></td>
      <td class="cw-sm"><div class="ssc-head-line"></div></td>
      <td class="cw-s"><div class="ssc-head-line"></div></td>
    </tr>
  </tbody>
</ng-template>