<div>
  <p *ngIf="!items"><em>Loading...</em></p>

  <table class='table table-hover mb-0' *ngIf="items">
    <thead class="">
      <tr>
        <th class="cw-check">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="checkAll($event)"
                 [checked]="allChecked"
                 [indeterminate]="indeterminate">
        </th>
        <th>NAME</th>
        <th class="cw-xs">TAG</th>
        <th>ID</th>
        <th class="cw-m">CREATED</th>
        <th class="cw-s">SIZE</th>
      </tr>
    </thead>
    <tbody [fluidHeight] 
           [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeightBottomPadding]="1">
      <tr *ngFor="let imageModel of items">
        <td class="cw-check">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="check(imageModel, $event)" 
                 [disabled]="isDisabled(imageModel)"
                 [checked]="imageModel.checked">
        </td>
        <td class="d-flex justify-content-between"
            [ngClass]="[imageModel.inProgress ? 'progress-parent' : '']">
          <span class="text-truncate">{{ imageModel.name }}</span>
          <progressbar *ngIf="imageModel.inProgress" class="progress-striped active progress-child" [value]="100" [max]="100" [type]="processType"></progressbar>
          <span *ngIf="imageModel.error" 
                class="bi bi-exclamation-circle text-danger" 
                [ngbTooltip] ="imageModel.error">
          </span>
        </td>

        <!-- <td class="text-truncate">{{ imageModel.name }}</td> -->
        <td class="text-truncate cw-xs"> <span class="badge bg-secondary">{{ imageModel.tag }}</span></td>
        <td class="text-truncate">{{ imageModel.image.id }}</td>
        <td class="text-truncate cw-m">{{ imageModel.image.created | date:'medium' }}</td>
        <td class="text-truncate cw-s">{{ imageModel.image.size | formatFileSize: false }} </td>
      </tr>
    </tbody>
  </table>
</div>