<ng-container *ngIf="container | async as c">
  <app-title [title]="c.names[0] | slice:1"
             iconClassName="bi-box">
  </app-title>

  <tabset #tabset [justified]="true" type="pills">
    <tab heading="Logs" id="tabLogs"><app-container-logs [containerId]="c.id" [environment]="environment"></app-container-logs></tab>
    <tab heading="Inspect" id="tabInspect" (selectTab)="onTabSelected($event)">
      <app-container-inspect [containerId]="c.id" 
                             [environment]="environment" 
                             *ngIf="activatedTabs.has('tabInspect')">
      </app-container-inspect>
    </tab>
    <tab heading="Bind mounts" id="tabMounts" (selectTab)="onTabSelected($event)">Bind mounts content</tab>
    <tab heading="Exec" id="tabExec" (selectTab)="onTabSelected($event)">Exec content</tab>
    <tab heading="Files" id="tabFiles" (selectTab)="onTabSelected($event)">Files content</tab>
    <tab heading="Stats" id="tabStats" (selectTab)="onTabSelected($event)">Stats content</tab>
  </tabset>
</ng-container>




