<app-title [iconClassName]="'bi-layers'" 
           [title]="'Create stack'" 
           [subtitle]="'This stack will be deployed using docker compose.'">
</app-title>

<div [fluidHeight]
     [fluidHeightEnabled]="true"
     [fluidHeightBottomPadding]="12"
     class="p-1">

  <div class="mt-3">This stack will be deployed using docker compose. You can get more information about Compose file format in the 
    <a href="https://docs.docker.com/compose/compose-file/" target="_blank">official documentation.</a>
  </div>
  
  <form class="mt-3" 
        [formGroup]="stackForm"
        [class.was-validated]="stackForm.errors?.length > 0"
        (ngSubmit)="onSubmit()">
    
    <div>
      <label for="stackName" class="form-label">Name</label>
      <input type="text" 
            class="form-control" 
            id="stackName" 
            aria-describedby="nameHelp" 
            placeholder="mystack"
            formControlName="stackName"
            [class.is-invalid]="!isValid('stackName')"
            required>
      <div id="nameHelp" class="form-text" *ngIf="isValid('stackName')">Enter stack name.</div>
      <div id="nameEmptyError" class="form-text invalid-feedback" *ngIf="isEmpty('stackName')">This field must not be empty.</div>
      <div id="nameWhitespaceError" class="form-text invalid-feedback" *ngIf="isPattern('stackName')">This field must consist of lower case alphanumeric characters, '_' or '-' (e.g. 'my-name', or 'abc-123')..</div>
    </div>

    <div class="mt-3">
      <div>Editor</div>
      <div class="card mt-3 p-2">
        <app-web-editor class="d-block editor" 
                        [options]="composeEditorOptions" 
                        [code]="composeCode"
                        (codeChange)="composeCodeChanged($event)"
                        (isEmpty)=" setIsComposeEditroEmpty($event) ">
        </app-web-editor>
      </div>
    </div>
    
    <div class="mt-3">
      <div>Environment variables</div>
      <div id="environmentHelp" class="form-text">e.g. key=value</div>
      <div class="card mt-3 p-2">
        <app-web-editor class="d-block environments" 
                        [options]="evironmentsEditorOptions"
                        [code]="environmentsCode">
        </app-web-editor>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-deploy mt-3" [disabled]="stackForm.invalid || this.isComposeEditorEmpty">Deploy the stack</button>
  </form>
</div>