@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@media ( max-width: #{map-get($grid-breakpoints, "xl")}) { 
  .nav-link {
    width: 3rem;
    padding-left: 1.0rem;
  }

  app-sidebar-main .nav-caption {
    justify-content: center;
  }
}

.nav-pills > .nav-item {
  margin-top: 4px;
}

.nav-link:hover {
  background-color: $gray-300;
}

.active:hover {
  background-color: $gray-800;
}

.active {
  background-color: $gray-900;
}
