@import "./colors";

/* width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-handle;
}

/* Handle */ 
::-webkit-scrollbar-thumb {
  background: $scrollbar-handle-thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-handle-hover;
}