
table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table>:not(:first-child)  {
  border-top: 0 !important;
}

.table .cw-xs {
  width: 80px;
}

.table .cw-s {
  width: 120px;
}

.table .cw-sm {
  width: 200px;
}

.table .cw-m {
  width: 250px;
}