<app-title [iconClassName]="'bi-layers'"
           [title]="'Stacks'">
</app-title>

<p *ngIf="!stacks"><em>Loading...</em></p>

<div class="mt-3">
  <table class='table table-hover mb-0' *ngIf="stacks">
    <thead class="">
      <tr>
        <th>NAME</th>
        <th>TYPE</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody [fluidHeight] 
           [fluidHeightBottomPadding]="1">
      <tr *ngFor="let stack of stacks">
        <td class="text-truncate"><a [routerLink]="['/stacks', stack.name]">{{ stack.name }}</a></td>
        <td class="text-truncate">{{ stack.type }} </td>
        <td class="text-truncate">{{ stack.created | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #stateTemplate let-state="cState">
  <ng-container *ngIf="state === 'running'">
    <span class="badge bg-success">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'exited'">
    <span class="badge bg-danger">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'paused'">
    <span class="badge bg-secondary">{{state}}</span>
  </ng-container>
</ng-template>