<div *ngIf="areEnvironmentsExist === false">
  <h3 class="text-center">Connect to your Docker Standalone environment</h3>

  <div class="col-lg-8 m-auto">
    <div class="card text-center mt-4">
      <div class="card-body">
        <h5 class="card-title">Connect to Docker using API</h5>
        <p class="card-text">The Docker API must be exposed over a TCP port. Please refer to the Docker <a href="https://docs.docker.com/config/daemon/remote-access/" target="_blank" rel="noopener noreferrer">documentation</a> to configure it.</p>
        <a class="btn btn-primary w-25" [routerLink]="['/environment']">Connect</a>
      </div>
    </div>

    <!-- <div class="card text-center mb-3 mt-4">
      <div class="card-body">
        <h5 class="card-title">Connect to Docker using socket</h5>
        <p class="card-text">Connect to the local Docker using local socket.</p>
        <a href="#" class="btn btn-primary w-25">Connect</a>
      </div>
    </div>-->
  </div>
</div>

<div *ngIf="areEnvironmentsExist">
  <app-environments></app-environments>
</div>