@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

:host {
  .brand {
    margin-left: 1.5rem;
  }
}

@media ( max-width: #{map-get($grid-breakpoints, "xl")}) { 
  .brand {
    margin-left: 0rem !important;
    justify-content: center;
  }
}  