<div class="d-flex flex-column pt-3 bg-light vh-100 side-nav justify-content-center border-end">
  <a href="/" class="d-flex align-items-center link-dark text-decoration-none brand h4">
    <i class="bi-box-seam-fill brand-color"></i>
    <span class="ms-2 d-none d-xl-block">Dockland</span>
  </a>
  <ul class="nav nav-pills flex-column mb-auto">
    <app-sidebar-item [name]="'Environments'" 
                      [icon]="'bi-hdd'" 
                      [link]="'/environments'" 
                      [captionClass]="'d-md-none d-xl-block'">
    </app-sidebar-item>
    <app-sidebar-item [name]="'Actions'" 
                      [icon]="'bi-textarea'" 
                      [link]="'/actions'" 
                      [captionClass]="'d-md-none d-xl-block'">
    </app-sidebar-item>
    <app-sidebar-item [name]="'Settings'" 
                      [icon]="'bi-gear'" 
                      [link]="'/dashboard'" 
                      [captionClass]="'d-md-none d-xl-block'">
    </app-sidebar-item>
  </ul>
  <div class="p-3 pt-0">
    <span class="d-none d-xl-block">Version: 1.0.0</span>
  </div>
</div>