<h3><i class="bi bi-hdd me-2"></i>Environments</h3>

<p *ngIf="!(environments | async)"><em>Loading...</em></p>

<div *ngIf="(environments | async)">
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary" [routerLink]="'/environment'">
      <i class="bi bi-plus me-1"></i>
      Add environment
    </a>
  </div>
  
  <div class="env-content mt-3">
    <div class="mb-3" *ngFor="let environment of environments | async">
      <div class="card p-4" 
           (click)="open(environment)">
        <div class="d-flex align-items-center justify-content-between">
          <div class="env-logo">
            <img src="assets/docker-logo.webp" class="img-fluid rounded-start " style="max-width: 130px;" alt="Docker logo">
          </div>

          <div class="ms-3">
            <h5 class="card-title">{{environment.name}}</h5>
            <div class="card-text text-secondary">Standalone</div>
            <div class="card-text text-secondary">{{environment.url}}</div>
            <div class="card-text text-secondary">{{environment.tag}}</div>
          </div>
          <div class="flex-fill"></div>
          <div class="d-flex gap-1 flex-row align-self-start">
            <button type="button" 
                    class="btn btn-outline-primary rounded-5" >
              <i class="bi-x-lg"></i>
            </button>
            <a class="btn btn-outline-secondary rounded-5" [routerLink]= "['/environment', environment.id]"><i class="bi-pencil"></i></a>
            <button type="button" class="btn btn-outline-danger rounded-5" (click)="delete(environment, $event)"><i class="bi-trash2"></i></button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


