<div class="d-flex flex-column pt-3 vh-100">
  <ng-container *ngTemplateOutlet="environmentTemplate;"></ng-container>
</div>

<ng-template #environmentTemplate>
  <ul class="nav nav-pills flex-column mb-auto">
    <app-sidebar-item [name]="'Environments'" [icon]="'bi-hdd'" [routerLink]="'/'"></app-sidebar-item>
    <app-sidebar-item [name]="'Containers'" [icon]="'bi-box'" [routerLink]="'/containers'"></app-sidebar-item>
    <app-sidebar-item [name]="'Images'" [icon]="'bi-collection'" [routerLink]="'/images'"></app-sidebar-item>
    <app-sidebar-item [name]="'Stacks'" [icon]="'bi-layers'" [routerLink]="'/stacks'"></app-sidebar-item>
    <app-sidebar-item [name]="'Volumes'" [icon]="'bi-database'" [routerLink]="'/volumes'"></app-sidebar-item>
    <app-sidebar-item [name]="'Networks'" [icon]="'bi-hdd-network'" [routerLink]="'/networks'"></app-sidebar-item>
  </ul>
</ng-template>