<body class="overflow-hidden">
  <div class="row m-0 p-0">
    <div class="col-1 col-md-1 col-xl-2 p-0 d-none d-sm-block" *ngIf="isVisible | async">
      <app-sidebar-main></app-sidebar-main>
    </div>
    <div class="col-1 col-md-3 col-xl-2 p-0 d-none d-sm-block" *ngIf="isVisible | async">
      <app-sidebar-second></app-sidebar-second>
    </div>

    <ng-container *ngIf="!(isVisible | async)">
      <div class="col-12 pt-3 p-4">
        <router-outlet></router-outlet>
      </div>
    </ng-container>


    <ng-container *ngIf="isVisible | async">
      <div class="col-12 col-sm-10 col-md-8 col-xl-8 pt-3 p-4">
        <router-outlet></router-outlet>
      </div>
    </ng-container>

  </div>
</body>
