<div class="mb-4">
  <table class='table table-hover mb-0'>
    <thead class="">
      <tr>
        <th>NAME</th>
        <th class="cw-xs">DRIVER</th>
        <th>ATTACHABLE</th>
        <th class="cw-m">CREATED</th>
      </tr>
    </thead>
    <tbody [fluidHeight] 
           [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeightBottomPadding]="12">
      <ng-container *ngTemplateOutlet="loader"></ng-container>
      <tr *ngFor="let network of networks">
        <td class="text-truncate">{{ network.name }}</td>
        <td class="text-truncate cw-xs">{{ network.driver }}</td>
        <td class="text-truncate">{{ network.attachable }} </td>
        <td class="text-truncate cw-m">{{ network.created | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loader>
  <ng-container *ngIf="!networks" >
    <app-table-loader [rowsCount]="5"></app-table-loader>
  </ng-container>
</ng-template>