<h1 id="tableLabel">Containers</h1>

<p>A container packages up code and its dependencies so the application runs quickly and reliably from one computing environment to another.
  <a href="https://docs.docker.com/get-started/overview/#containers" target="_blank" rel="noopener noreferrer">Learn more</a></p>

<p *ngIf="!containers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="containers">
  <thead>
    <tr>
      <th>name</th>
      <th>state</th>
      <th>status</th>
      <th>image</th>
      <th>created</th>
      <th>labels</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of containers">
      <td>{{ container.names[0] | slice:1 }}</td>
      <td>{{ container.state }}</td>
      <td>{{ container.status }}</td>
      <td>{{ container.image }} </td>
      <td>{{ container.created }} </td>
      <td>{{ toString(container.labels) }} </td>
    </tr>
  </tbody>
</table>