<table class='table table-hover mb-0 h-100'>
  <thead class="">
    <tr>
      <th class="w-30px">
        <input type="checkbox" 
               class="form-check-input"
               (change)="checkAll($event)"
               [checked]="allChecked"
               [indeterminate]="indeterminate">
      </th>
      <th>NAME</th>
      <th class="w-10">STATE</th>
      <th>TYPE</th>
    </tr>
  </thead>
  
  <tbody [fluidHeight]>
    <ng-container *ngTemplateOutlet="loader"></ng-container>
    <tr *ngFor="let actionModel of items" (click)="select(actionModel, $event)">
      <td class="w-30px">
        <input type="checkbox" 
               class="form-check-input"
               [checked]="actionModel.checked">
      </td>
      <td class="d-flex justify-content-between"
          [ngClass]="[actionModel.inProgress ? 'progress-parent' : '']">
        <span class="text-truncate"><a [routerLink]="[actionModel.name, 'dashboard']">{{ actionModel.name }}</a></span>
        <progressbar *ngIf="actionModel.inProgress" class="progress-striped active progress-child" [value]="100" [max]="100" [type]="processType"></progressbar>
        <span *ngIf="actionModel.error" 
              class="bi bi-exclamation-circle text-danger" 
              [ngbTooltip] ="actionModel.error">
        </span>
      </td>
      <td class="text-truncate w-10"> <span class="badge bg-success">{{ actionModel.state }}</span></td>
      <td class="text-truncate">{{ actionModel.type }}</td>
    </tr>
  </tbody>
</table>

<ng-template #loader >
<ng-container *ngIf="!items" >
  <app-table-loader [rowsCount]="5"></app-table-loader>
</ng-container>
</ng-template>