<p *ngIf="!containers"><em>Loading...</em></p>
<div class="">
  <div class="d-flex justify-content-end" *ngIf="isInteractive">
    <div class="d-flex gap-2" role="group" aria-label="Containers group">
      <button type="button" class="btn btn-secondary" [disabled]="!isStopped()" (click)="start()"><i class="bi-play me-1"></i>Start</button>
      <button type="button" class="btn btn-secondary" [disabled]="!isStarted()" (click)="stop()"><i class="bi-stop me-1"></i>Stop</button>
      <button type="button" class="btn btn-danger" [disabled]="!isAnyChecked()"><i class="bi-trash2 me-1"></i>Remove</button>
    </div>
  </div>

  <table class='table table-hover mb-0' *ngIf="containers">
    <thead class="">
      <tr>
        <th class="cw-check" *ngIf="isInteractive">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="checkAll($event)"
                 [checked]="allChecked"
                 [indeterminate]="indeterminate">
        </th>
        <th>NAME</th>
        <th class="cw-xs">STATE</th>
        <th>PORT</th>
        <th>IMAGE</th>
        <th class="d-none d-lg-block">CREATED</th>
      </tr>
    </thead>
    <tbody [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeight]
           [fluidHeightBottomPadding]="1">
      <tr *ngFor="let model of containers">
        <td class="cw-check" *ngIf="isInteractive">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="check(model, $event)" 
                 [checked]="model.checked">
        </td>
        <td class="text-truncate">{{ model.container.names[0] | slice:1 }}</td>
        <td class="cw-xs">
          <ng-container *ngTemplateOutlet="stateTemplate;context:{cState:model.container.state}"></ng-container>
        </td>
        <td class="text-truncate"><a [href]="getUrl(model.container.ports)" target="_blank">{{getUrl(model.container.ports)}}</a></td>
        <td class="text-truncate">{{ model.container.image }} </td>
        <td class="text-truncate d-none d-lg-block">{{ model.container.created | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #stateTemplate let-state="cState">
  <ng-container *ngIf="state === 'running'">
    <span class="badge bg-success">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'exited'">
    <span class="badge bg-danger">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'paused'">
    <span class="badge bg-secondary">{{state}}</span>
  </ng-container>
</ng-template>
