<div class="">
  <div class="d-flex justify-content-start bg-light toolbar" *ngIf="isInteractive">
    <div class="d-flex" role="group" aria-label="Containers group">
      <button type="button" class="btn btn-light" [disabled]="!isStopped()"    (click)="start()"><i class="bi-play me-1"></i>Start</button>
      <button type="button" class="btn btn-light" [disabled]="!isStarted()"    (click)="stop()"><i class="bi-stop me-1"></i>Stop</button>
      <button type="button" class="btn btn-light" [disabled]="!isAnyChecked()" (click)="restart()"><i class="bi-arrow-clockwise me-1"></i>Restart</button>
      <button type="button" class="btn btn-light" [disabled]="!isAnyChecked()" (click)="remove()" ><i class="bi-trash2 me-1"></i>Remove</button>
    </div>
  </div>

  <table class='table table-hover mb-0 align-middle'>
    <thead class="">
      <tr>
        <th class="cw-check" *ngIf="isInteractive">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="checkAll($event)"
                 [checked]="allChecked"
                 [indeterminate]="indeterminate">
        </th>
        <th>NAME</th>
        <th class="cw-xs">STATE</th>
        <th>PORTS</th>
        <th>IMAGE</th>
        <th class="d-none d-lg-block">CREATED</th>
      </tr>
    </thead>
    <ng-container *ngTemplateOutlet="loader"></ng-container>
    <tbody [fluidHeightEnabled]="fluentHeightEnabled"
           [fluidHeight]
           [fluidHeightBottomPadding]="1"
           *ngIf="containers">
      <tr *ngFor="let model of containers">
        <td class="cw-check" *ngIf="isInteractive">
          <input type="checkbox" 
                 class="form-check-input"
                 (change)="check(model, $event)" 
                 [disabled]="isDisabled(model)"
                 [checked]="model.checked">
        </td>
        <td class="text-truncate"
            [ngClass]="[model.inProgress ? 'progress-parent' : '']">
          <ng-container *ngTemplateOutlet="nameTemplate;context: { model:model }"></ng-container>
          <progressbar *ngIf="model.inProgress" class="progress-striped active progress-child" [value]="100" [max]="100" [type]="processType"></progressbar>
        </td>
        <td class="cw-xs">
          <ng-container *ngTemplateOutlet="stateTemplate;context:{cState:model.container.state}"></ng-container>
        </td>
        <td class="text-truncate">
          <ng-container *ngFor="let port of getAcceptablePorts(model.container.ports)">
            <a class="me-2" [href]="getUrl(port)" target="_blank">{{getPublishedPort(port)}}</a>
          </ng-container>
        </td>
        <td class="text-truncate">{{ model.container.image }} </td>
        <td class="text-truncate">{{ model.container.created | date:'medium' }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #stateTemplate let-state="cState">
  <ng-container *ngIf="state === 'running'">
    <span class="badge bg-success">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'exited'">
    <span class="badge bg-danger">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'paused'">
    <span class="badge bg-secondary">{{state}}</span>
  </ng-container>
</ng-template>

<ng-template #nameTemplate let-model="model">
  <div>
    <span> {{ model.container.names[0] | slice:1 }} </span>
    <!-- <div>
      <a class="bi-terminal btn btn-light btn-circle rounded-circle me-1" [routerLink]= "['/containers', model.container.id, 'terminal']"></a>
      <i class="bi-file-text btn btn-light btn-circle rounded-circle me-1"></i>
      <i class="bi-terminal btn btn-light btn-circle rounded-circle me-1"></i>
    </div> -->
  </div>
</ng-template>

<ng-template #loader>
  <tbody [fluidHeightEnabled]="fluentHeightEnabled"
         [fluidHeight]
         [fluidHeightBottomPadding]="1"
        *ngIf="!containers">
    <tr *ngFor="let number of [0,1,2,3,4] | loaderCount">
      <td class="cw-check" *ngIf="isInteractive">
        <div class="ssc-circle ssc-circle-loader"></div>
      </td>
      <td><div class="ssc-head-line"></div></td>
      <td class="cw-xs"><div class="ssc-head-line"></div></td>
      <td><div class="ssc-head-line"></div></td>
      <td><div class="ssc-head-line"></div></td>
      <td><div class="ssc-head-line"></div></td>
    </tr>
  </tbody>
</ng-template>
