<app-title [iconClassName]="'bi-layers'" [title]="'Stack details'" [subtitle]="stack"></app-title>

<ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>

<div [fluidHeight]
     [fluidHeightBottomPadding]="0"
     [fluidHeightEnabled]="true"
     class="overflow-auto mt-4">
  <div class="mb-2 fs-5"><i class="bi bi-box me-2"></i><span>Containers</span></div>
  <app-container-list [containers]="containers | async" [url]="url" [fluentHeightEnabled]="false"></app-container-list>

  <div class="mt-4 mb-2 fs-5"><i class="bi bi-collection me-2"></i>Images</div>
  <app-image-list [images]="images | async" [fluentHeightEnabled]="false" *ngIf="images"></app-image-list>

  <div class="mt-4 mb-2 fs-5"><i class="bi bi-database me-2"></i>Volumes</div>
  <app-volume-list [volumes]="volumes | async" [fluentHeightEnabled]="false" *ngIf="images"></app-volume-list>

  <div class="mt-4 mb-2 fs-5"><i class="bi bi-hdd-network me-2"></i>Networks</div>
  <app-network-list [networks]="networks | async" [fluentHeightEnabled]="false"></app-network-list>
</div>
<ng-template #buttonsTemplate>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger" [disabled]="isDisabled()" (click)="remove()">
      <i class="bi bi-trash2 me-1"></i>
      Remove
    </button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-play me-2"></i>Start</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-stop me-2"></i>Stop</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-x me-2"></i>Kill</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-arrow-repeat me-2"></i>Restart</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-pause me-2"></i>Pause</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-play me-2"></i>Resume</button>
      <button type="button" class="btn btn-outline-danger d-none" (click)="remove()">
        <i class="bi bi-trash2 me-1"></i>
        Remove
      </button>
    </div>
  </div>
</ng-template>