<h3 id="tableLabel">Stack details</h3>
<span>Name: {{stack}}</span>

<p *ngIf="!containers"><em>Loading...</em></p>

<table class='table table-hover mt-2 caption-top' *ngIf="containers">
  <caption>
    <div>
      <i class="bi bi-box me-2"></i><span>Containers</span>
      <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
    </div>
  </caption>
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th style="width: 100px;">State</th>
      <th>Port</th>
      <th>Image</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of containers | async">
      <td class="text-truncate">{{ container.names[0] | slice:1 }}</td>
      <td>
        <ng-container *ngTemplateOutlet="stateTemplate;context:{cState:container.state}"></ng-container>
      </td>
      <td class="text-truncate"><a [href]="getUrl(container.ports)" target="_blank">{{getUrl(container.ports)}}</a></td>
      <td class="text-truncate">{{ container.image }} </td>
      <td class="text-truncate">{{ container.created | date:'medium' }} </td>
    </tr>
  </tbody>
</table>

<table class='table table-hover mt-2 caption-top' aria-labelledby="tableLabel" *ngIf="volumes">
  <caption><i class="bi bi-database me-2"></i>Volumes</caption>
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th style="width: 90px;">Driver</th>
      <th>Mount point</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volume of volumes | async">
      <td class="text-truncate">{{ volume.name }}</td>
      <td class="text-truncate">{{ volume.driver }}</td>
      <td class="text-truncate">{{ volume.mountpoint }} </td>
      <td class="text-truncate">{{ volume.createdAt | date:'medium' }} </td>
    </tr>
  </tbody>
</table>

<table class='table table-hover mt-2 caption-top' aria-labelledby="tableLabel" *ngIf="networks">
  <caption><i class="bi bi-hdd-network me-2"></i>Networks</caption>
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th style="width: 90px;">Driver</th>
      <th>Attachable</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let network of networks | async">
      <td class="text-truncate">{{ network.name }}</td>
      <td class="text-truncate">{{ network.driver }}</td>
      <td class="text-truncate">{{ network.attachable }} </td>
      <td class="text-truncate">{{ network.created | date:'medium' }} </td>
    </tr>
  </tbody>
</table>

<ng-template #stateTemplate let-state="cState">
  <ng-container *ngIf="state === 'running'">
    <span class="badge bg-success">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'exited'">
    <span class="badge bg-danger">{{state}}</span>
  </ng-container>
  <ng-container *ngIf="state === 'paused'">
    <span class="badge bg-secondary">{{state}}</span>
  </ng-container>
</ng-template>

<ng-template #buttonsTemplate>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger" [disabled]="isDisabled()" (click)="remove()">
      <i class="bi bi-trash2 me-1"></i>
      Remove
    </button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-play me-2"></i>Start</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-stop me-2"></i>Stop</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-x me-2"></i>Kill</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-arrow-repeat me-2"></i>Restart</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-pause me-2"></i>Pause</button>
      <button type="button" class="btn btn-outline-secondary d-none" disabled><i class="bi bi-play me-2"></i>Resume</button>
      <button type="button" class="btn btn-outline-danger d-none" (click)="remove()">
        <i class="bi bi-trash2 me-1"></i>
        Remove
      </button>
    </div>
  </div>
</ng-template>