@import "../../../../colors";

:host {
  .dashboard-card {
    padding: 12px;
  }

  .dashboard-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    $types: (
      "1": $stacks-background, 
      "2": $containers-background,
      "3": $images-background,
      "4": $volumes-background,
      "5": $networks-background,
    );

    @each $name, $color in $types {
      
      &-#{$name} {
        background: $color;
        border-color: darken($color: $color, $amount: 5);

        &:hover {
          background: lighten($color: $color, $amount: 4);
        }

        h3 {
          color: darken($color: $color, $amount: 40);
        }
      }
    }
  }
}

.min-w {
  min-width: 500px;
}

.dashboard-img {
  font-size: 300%;
  margin: 1rem;
}